/* 
blue : #0e4b96

black: #1d1d1d

linear-gradient(to right, #ededed, #dfdfdf) !important

grey #e9e9e9

text 14px

text-title  16px

section head 20px

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif Bengali", serif;
  font-size: 15px;
  font-weight: 400;
  color: #1d1d1d;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #1d1d1d;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.top_header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_wrapper > img {
  width: 145px;
}

.primary_wrapper {
  display: flex;
  gap: 25px;
}

.top_header_container {
  padding: 5px 0px;
  background: #fff;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.small_header_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.small_header_coontainer {
  background: linear-gradient(to right, #ededed, #dfdfdf);
  padding: 5px 0px;
}

.small_header_wrap > li > a {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.small_header_wrap > li:first-child > a {
  color: #0e1f6b;
  font-size: 20px;
}
.primary_wrapper > li > a {
  font-weight: 600;
}

.iot_img_one {
  width: 100%;
  border-radius: 10px;
}

.image_overlapped_text {
  position: relative;
  margin-bottom: 50px;
}

.iot_text_wrap {
  position: absolute;
  background: #fff;
  width: 90%;
  bottom: -30px;
  left: 50%;
  border-radius: 10px;
  padding: 5px 10px;
  transform: translateX(-50%);
}

.section_one {
  padding: 10px 0px;
}
.section_one {
  padding: 20px 0px 0px;
}

.iot_img_two {
  width: 100%;
  border-radius: 10px;
}

.all_news_wrap > li > a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.anw_img_wrap {
  width: 100px;
}
.anw_img_text_wrap {
  width: calc(100% - 120px);
}
.all_news_wrap > li {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.all_news_wrap > li:last-child {
  margin-bottom: 0px;
}
.anw_img_text {
  font-size: 14px;
  font-weight: 600;
}

.anw_img_text_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.tab_heading_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab_title {
  color: #051e87;
  font-size: 20px;
  border-left: 6px solid #0d6efd;
  padding-left: 8px;
  font-weight: 600;
}

.tab_links {
  color: #051e87;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 24px;
  padding: 4px 0px;
}

.tab_links > span:last-child {
  background: #051e87;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.tab_links > span:first-child {
  font-size: 15px;
  line-height: 25px;
  padding: 2px 0px;
  display: inline-block;
  font-weight: 300;
}
.reference_links_wrap > li {
  margin-bottom: 15px;
}

.hs_right {
  padding-left: 10px;
}
.section_two {
  padding: 50px 0px 0px;
}
.single_content_row {
  padding: 10px;
  background: #f4f4f4;
  border-radius: 10px;
}
.section_three {
  padding: 50px 0px 0px;
}
.normal_card_wrap > a > img {
  border-radius: 5px;
  width: 100%;
}
.section_four {
  padding: 50px 0px 0px;
}
.section_five {
  padding: 50px 0px;
}

.section_six {
  padding-bottom: 50px;
}
.section_six .single_content_row {
  background: #000;
}
.footer_logo {
  width: 200px;
}

footer {
  background: #f4f4f4;
  padding: 60px 0px;
}

.footer_title {
  font-size: 25px;
  color: #051e87;
  line-height: 35px;
  margin-bottom: 15px;
}

ul.social_links_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

ul.social_links_wrapper > li > a {
  font-size: 30px;
  line-height: 1.1;
}

.footer_widget_wrapper > li {
  margin-bottom: 10px;
}

.footer_widget_wrapper > li > a {
  font-size: 16px;
  font-weight: 600;
}

.footer_widget_wrapper > li > a > span {
  display: inline-block;
  color: #051e87;
  font-size: 20px;
}
ul.footer_navlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
}

ul.footer_navlist > li > a {
  font-size: 16px;
  font-weight: 600;
}
.featured_wrap > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.featured_wrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0000007a;
  z-index: 99;
}

.featured_wrap {
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.featured_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 8px;
  z-index: 100;
}

section.featured_section {
  padding: 50px 0px 0px;
}

.featured_text {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
a:hover {
  color: #bebebe;
}
.category_img_wrapper > img {
  width: 100%;
  border-radius: 6px;
}

.date_time {
  font-size: 13px;
  color: #5e5d5d;
  margin-bottom: 5px;
}

.category_section {
  padding: 50px 0px;
}

.category_titles {
  font-size: 16px;
  font-weight: 600;
}

.category_title_wrapper {
  margin-top: 10px;
  padding: 0px 8px;
}

.reporter_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.news_writter_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px 0px;
}

.reporter_profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

span.report_icon {
  font-size: 20px;
  color: #051e87;
  margin-right: 8px;
}

.report_time {
  font-size: 18px;
  font-weight: 600;
}

.reporter_name {
  font-size: 18px;
  font-weight: 600;
}

h1.news_title_h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.news_heading_wrap {
  margin-bottom: 20px;
}
ul.artical_wrapper > li {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}
.artical_images {
  width: 100%;
  border-radius: 5px;
}
.artical_image_wrapper {
  margin-bottom: 25px;
}
.news_vlog__left > .single_content_row {
  margin-bottom: 30px;
  background: #fff;
}
.news_vlog_section {
  padding: 30px 0px;
}

.info_tagline {
  text-align: center;
  border-bottom: 3px solid #0d6efd;
  border-left: none !important;
  display: inline-block;
  padding: 0;
  padding-bottom: 4px;
  font-size: 25px;
  font-weight: 800;
}
.information_section {
  padding: 70px 0px;
}
.stanza_title {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  margin-bottom: 13px;
}

.stanza_text {
  font-size: 18px;
  font-weight: 400;
}
.para_stanza_wrap {
  height: 100%;
  background: #f4f4f4;
  padding: 15px 15px;
  border-radius: 10px;
}
.about_us_section .para_stanza_wrap,
.privacy_policy_section .para_stanza_wrap,
.terms_section .para_stanza_wrap {
  background: transparent;
}
